:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.root {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  overflow: auto; /* Add scroll if content overflows */
}


.heritage {
  color: #000;
  font-size: 40px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 125px;
  top: 32px;
  width: 148px;
  height: 39px;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.3s ease;
}

.about {
  color: #000;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 473px;
  top: 36px;
  width: 92px;
  height: 30px;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.3s ease;
}
.frame1 {
  position: absolute;
  left: 1019px;
  top: 12px;
  width: 100px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.frame2 {
  position: absolute;
  left: -6px;
  top: -17px;
  width: 100px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.search {
  position: absolute;
  left: 22px;
  top: 32px;
  width: 56px;
  height: 37px;
  background-image:/* webpackIgnore: true */ url('assets/search.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.line1 {
  position: absolute;
  left: 39px;
  top: 100px;
  width: 1435.0013px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
}
.line2 {
  position: absolute;
  left: 39px;
  top: 186px;
  width: 1435.0013px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
}
.line3 {
  position: absolute;
  left: 39px;
  top: 900px;
  width: 1435.0013px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
}
.expandArrow {
  position: absolute;
  left: 551px;
  top: 41px;
  width: 28px;
  height: 19px;
  background-image:/* webpackIgnore: true */ url('assets/expandArrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.learn {
  color: #000;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 321px;
  top: 36px;
  width: 78px;
  height: 30px;
  justify-content: center;
  flex-direction: column;
}
.signIn {
  color: #000;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1150px;
  top: 32px;
  width: 141px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.3s ease;
}


.signInPage {
  color: #000;
  font-size: 64px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 405px;
  top: 176px;
  width: 228px;
  height: 39px;
  justify-content: center;
  flex-direction: column;
}
.help {
  color: #000;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1300px;
  top: 32px;
  width: 141px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.3s ease;
}
.expandArrow2 {
  position: absolute;
  left: 399px;
  top: 42px;
  width: 26px;
  height: 19px;
  background-image:/* webpackIgnore: true */ url('assets/expandArrow2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.stories {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 870px;
  top: 123px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.cultures {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 719px;
  top: 123px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.communityForm {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 452px;
  top: 124px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.feedback {
  color: #000;
  font-size: 24px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 156px;
  top: 925px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fAQ {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1001px;
  top: 123px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 1371px;
  top: 840px;
  width: 121px;
  height: 121px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.instagramCircle {
  position: absolute;
  left: 39px;
  top: 922px;
  width: 37px;
  height: 37px;
  background-image:/* webpackIgnore: true */ url('assets/instagramCircle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.chichenItza {
  position: absolute;
  left: 39px;
  top: 25px;
  width: 64px;
  height: 59px;
  background-image:/* webpackIgnore: true */ url('assets/chichenItza.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.chichenItza2 {
  position: absolute;
  left: 568px;
  top: 314px;
  width: 436px;
  height: 394px;
  background-image:/* webpackIgnore: true */ url('assets/chichenItza2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.historyRemix {
  color: #000;
  font-size: 14px;
  font-family: Indie Flower, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 235px;
  top: 222px;
  width: 96px;
  height: 17px;
  justify-content: center;
  flex-direction: column;
}
.xboxR {
  opacity: 0.8;
  position: absolute;
  left: 267px;
  top: 41px;
  width: 12px;
  height: 10px;
  background-image:/* webpackIgnore: true */ url('assets/xboxR.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.chat {
  position: absolute;
  left: 1398px;
  top: 856px;
  width: 66px;
  height: 90px;
  background-image:/* webpackIgnore: true */ url('assets/chat.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.linkedIn {
  position: absolute;
  left: 95px;
  top: 919px;
  width: 42px;
  height: 42px;
  background-image:/* webpackIgnore: true */ url('assets/linkedIn.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.infoBox {
  border: 1px solid #ccc; /* Example border */
  padding: 20px; /* Example padding */
  margin-top: 10px; /* Example margin */
  background-color: #f9f9f9; /* Example background color */
}

.collapsible .content {
  padding: 6px;
  background-color: rgb(240, 240, 240);
  font-size: 14px;
}

.collapsible .header {
  background-color: rgb(200, 200, 200);
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(220, 220, 220);
}

.collapsible .header .title {
  font-weight: 400;
}

.preferences label {
  display: block;
  padding-bottom: 4px;
}
.rectangle1 {
  position: absolute;
  left: 313px;
  top: 101px;
  width: 443px;
  height: 338px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #ffffff;
  filter: blur(2px);
}
.howItWorksResourcesHeritageWik {
  position: absolute;
  left: 313px;
  top: 101px;
  width: 392px;
  height: 299px;
  justify-content: center;
  flex-direction: column;
  outline: solid 1px #000;
  background-color: #ffffff;
  

}
.textBlock {
  color: #1f1b1b;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 60px;
  margin-bottom: 34px;
  color: #1f1b1b;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 32px;
  color: #1f1b1b;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.aboutBox {
  position: absolute;
  left: 471px;
  top: 101px;
  width: 423px;
  height: 259px;
  justify-content: center;
  flex-direction: column;
  outline: solid 1px #000;
  background-color: #ffffff;

}

.textBlockHistory {
  color: #1f1b1b;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlockPrivacy {
  margin-top: 60px;
  margin-bottom: 34px;
  color: #1f1b1b;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.loginContainer {
  /* Styles that apply to the login container */
  width: 359px;
  height: 290px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 5px;
  background-color: #fff;
}

.signUpContainer {
  position: absolute;
  left: 341px;
  top: 122px;
  width: 770px;
  height: 701px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #e8e8e8;
  filter: blur(2px);
}


.loginInput {
  /* Styles for the input fields */
}

.loginButton {
  /* Styles for the login button */
  width: 302px;
  height: 39px;
  outline: solid 1px #0aa8c2;
  outline-offset: -1px;
  border-radius: 5px;
  background-color: #0aa8c2;
  box-shadow: 0px 4px 4px 0px #00000040;
}


.errorMessage {
  color: red;
  /* Other styles for the error message */
}

.userNameContainer {
  /* Styles for the username container */
  position: absolute;
  color:#000;
  left: 455px;
  top: 276.5px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.passwordContainer {
  /* Styles for the password container */
  position: absolute;
  left: 455px;
  top: 711px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}

.emailContainer {
  /* Styles for the email container */
  width: 302px;
  height: 42px;
  outline: solid 1px #100c0c;
  outline-offset: -1px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.passwordview {
  /* Styles for the password view */
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background-image:/* webpackIgnore: true */ url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-eye-512.png');
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.loginerrorContainer {
  /* Styles for the login error container */
width: 302px;
height: 42px;
outline: solid 1px #f2b1b8;
outline-offset: -1px;
border-radius: 5px;
background-color: #fadde0;
box-shadow: 0px 4px 4px 0px #00000040;
}

.loginText { 
  /* Styles for the login text */
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  /* use for the sign up text as well */
}
.username {
  color: #999898;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 455px;
  top: 276.5px;
  width: 558.5px;
  height: 78px;
  justify-content: center;
  flex-direction: column;
}
.signInGoogle {
  color: #999898;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 250px;
  top: 610px;
  width: 353px;
  height: 40px;
  justify-content: center;
  flex-direction: column;
}
.google {
  position: absolute;
  left: 150px;
  top: 590px;
  width: 78px;
  height: 78px;
  background-image: url('../../../public/assets/google.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.rectangle5 {
  background-color: #ffffff;
  position: absolute;
  left: 100px;
  top: 590px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.resetPassword {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 260px;
  top: 450px;
  width: 240px;
  height: 36px;
  justify-content: center;
  flex-direction: column;
}
.passwordbox {
  background-color: #ffffff;
  position: absolute;
  left: 100px;
  top: 200px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
} .username {
  position: absolute;
  left: 120px;
  top: 100px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
} 
.password {
  color: #999898;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 120px;
  top: 200px;
  width: 558.5px;
  height: 78px;
  justify-content: center;
  flex-direction: column;
}
.signInBox {
  position: absolute;
  left: 499px;
  top: 501px;
  width: 469px;
  height: 73px;
  overflow: visible;
} .signINusingGoogle {
  position: absolute;
  left: 455px;
  top: 711px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
} 
.signInText {
  color: #000;
  font-size: 64px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 405px;
  top: 176px;
  width: 228px;
  height: 39px;
  justify-content: center;
  flex-direction: column;
}

.signIn3 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 715px;
  top: 580px;
  width: 131px;
  height: 46px;
  justify-content: center;
  flex-direction: column;
}
.rectangle2 {
  position: absolute;
  left: 341px;
  top: 122px;
  width: 770px;
  height: 701px;
  justify-content: center;
  flex-direction: column;
  outline-offset: -1px;
  background-color: #e8e8e8;
  filter: drop-shadow(0px 4px 4px #00000040);


  /*
    position: absolute;
  left: 471px;
  top: 101px;
  width: 392px;
  height: 259px;
  justify-content: center;
  flex-direction: column;
  outline: solid 1px #000;
  background-color: #dad5d2;
  */
}
.rectangle3 {
  background-color: #ffffff;
  position: absolute;
  left: 100px;
  top: 100px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.rectangle4 {
  position: absolute;
  left: 455px;
  top: 389px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.line4 {
  position: absolute;
  left: 150px;
  top: 550px;
  width: 559px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
}
.signIn2 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 150x;
  top: 360px;
  width: 131px;
  height: 46px;
  justify-content: center;
  flex-direction: column;
}
.centerContent {
  /* Center horizontally and vertically */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: center;
}
.rectangle6 {
  background-color: #1b5021;
  position: absolute;
  left: 150px;
  top: 350px;
  width: 469px;
  height: 73px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}

.chatBoxPage{
  position: absolute;
  background-color: #fff;
  left: 371px;
  top: 130px;
  width: 770px;
  height: 701px;
  outline: solid 1px #000;
  outline-offset: -1px;


}

.chatBoxSubmit {
  position: absolute;
  left: 45px;
  top: 580px;
  width: 666px;
  height: 79px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 10px;
  background-color: #fefefe;

}
.howCanIHelpYou {
  color: #000;
  font-size: 24px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 113px;
  top: 600px;
  width: 273px;
  height: 43px;
  justify-content: center;
  flex-direction: column;
}
.sendLetter {
  position: absolute;
  left: 640px;
  top: 595px;
  width: 66px;
  height: 48px;
  background-image:/* webpackIgnore: true */ url('assets/sendLetter.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.userProfilePhoto {
  position: absolute;
  left: 1395px;
  top: 6px;
  width: 90px;
  height: 90px;
  background-image:/* webpackIgnore: true */ url('assets/maleUser.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.gpt {
  position: absolute;
  left: 45px;
  top: 600px;
  width: 59px;
  height: 48px;
  background-image:/* webpackIgnore: true */ url('assets/chatGPT.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.helpBox {
  position: absolute;
  left: 143px;
  top: 122px;
  width: 1259px;
  height: 707px;
  overflow: visible;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;

}
.howCanWeHelp {
  color: #000;
  font-size: 64px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 188px;
  top: 45px;
  width: 792px;
  height: 99px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.helpSerch {
  position: absolute;
  left: 168px;
  top: 186px;
  width: 812px;
  height: 94px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.yourAccount {
  color: #000;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 200px;
  top: 345px;
  width: 284px;
  height: 84px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.report {
  color: #000;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 210px;
  top: 510px;
  width: 259px;
  height: 75px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contactUs {
  color: #000;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 688px;
  top: 525px;
  width: 213px;
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fAQ2 {
  color: #000;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 650px;
  top: 350px;
  width: 298px;
  height: 78px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.yourInfoBox {
  position: absolute;
  left: 170px;
  top: 321px;
  width: 376px;
  height: 139px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
}


.reportBox {
  position: absolute;
  left: 170px;
  top: 480px;
  width: 376px;
  height: 139px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.faqBox {
  position: absolute;
  left: 613px;
  top: 320px;
  width: 376px;
  height: 139px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.contactBox {
  position: absolute;
  left: 615px;
  top: 480px;
  width: 376px;
  height: 139px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.search2 {
  position: absolute;
  left: 190px;
  top: 215px;
  width: 56px;
  height: 37px;
  background-image:/* webpackIgnore: true */ url('assets/search.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.frame22 {
  position: absolute;
  left: 1073px;
  top: 307px;
  width: 72px;
  height: 52px;
  flex-direction: column;
  align-items: flex-start;
}
.multiMediaSelection {
  position: absolute;
  left: 115px;
  top: 35px;
  width: 1024px;
  height: 180px;
  background-color: #48742c;
}
.cinema {
  position: absolute;
  left: 700px;
  top: 75px;
  width: 160px;
  height: 117px;
  background-image:/* webpackIgnore: true */ url('assets/cinema.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.chatCommunity {
  position: absolute;
  left: 900px;
  top: 75px;
  width: 160px;
  height: 117px;
  background-image:/* webpackIgnore: true */ url('assets/chat2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.imageAdd{
  position: absolute;
  left: 300px;
  top: 75px;
  width: 160px;
  height: 117px;
  background-image:/* webpackIgnore: true */ url('assets/image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.addLink {
  position: absolute;
  left: 500px;
  top: 75px;
  width: 160px;
  height: 117px;
  background-image:/* webpackIgnore: true */ url('assets/addLink.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sMS {
  position: absolute;
  left: 130px;
  top: 75px;
  width: 160px;
  height: 117px;
  background-image:/* webpackIgnore: true */ url('assets/sMS.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.craigPotter {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 200px;
  top: 230px;
  width: 173px;
  height: 46px;
  justify-content: center;
  flex-direction: column;
}
.rebeccaLee {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 206px;
  top: 430px;
  width: 173px;
  height: 34px;
  justify-content: center;
  flex-direction: column;
}
.PotterMore12 {
  color: #999898;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 360px;
  top: 230px;
  width: 206px;
  height: 46px;
  justify-content: center;
  flex-direction: column;
}
.BeccaLee {
  color: #999898;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 360px;
  top: 425px;
  width: 171px;
  height: 48px;
  justify-content: center;
  flex-direction: column;
}
._6h {
  color: #999898;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 590px;
  top: 232px;
  width: 40px;
  height: 46px;
  justify-content: center;
  flex-direction: column;
}
._10h {
  color: #999898;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 545px;
  top: 430px;
  width: 56px;
  height: 44px;
  justify-content: center;
  flex-direction: column;
}
.communityPost1 {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 200px;
  top: 290px;
  width: 1010px;
  height: 102px;
  justify-content: center;
  flex-direction: column;
}
.communityPost2 {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 200px;
  top: 460px;
  width: 1031px;
  height: 123px;
  justify-content: center;
  flex-direction: column;
}

.line5 {
  position: relative;
  left: 120px;
  top: 420px;
  width: 1109.0018px;
  max-width: 100%;
  height: 3px;
  max-height: 100%;
}
.line5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(0.1033deg);
  width: 1109.0018px;
  height: 0;
  border-bottom: solid 1px #0000004d;
}

.beccaUser {
  position: absolute;
  left: 110px;
  top: 220px;
  width: 90px;
  height: 90px;
  background-image:/* webpackIgnore: true */ url('assets/maleUser.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.craigUser {
  position: absolute;
  left: 110px;
  top: 420px;
  width: 90px;
  height: 90px;
  background-image:/* webpackIgnore: true */ url('assets/maleUser.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fullStop2 {
  position: absolute;
  left: 510px;
  top: 436px;
  width: 27px;
  height: 30px;
  background-image:/* webpackIgnore: true */ url('assets/fullStop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fullStop {
  position: absolute;
  left: 555px;
  top: 240px;
  width: 27px;
  height: 30px;
  background-image:/* webpackIgnore: true */ url('assets/fullStop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.picture {
  position: absolute;
  left: 851px;
  top: 140px;
  width: 300px;
  height: 300px;
  background-image:/* webpackIgnore: true */ url('assets/picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.picture2 {
  position: absolute;
  left: 516px;
  top: 140px;
  width: 300px;
  height: 300px;
  background-image:/* webpackIgnore: true */ url('assets/picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.picture3 {
  position: absolute;
  left: 851px;
  top: 368px;
  width: 300px;
  height: 300px;
  background-image:/* webpackIgnore: true */ url('assets/picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.picture4 {
  position: absolute;
  left: 516px;
  top: 368px;
  width: 300px;
  height: 300px;
  background-image:/* webpackIgnore: true */ url('assets/picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.culturesTitle {
  color: #000;
  font-size: 80px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 105px;
  top: 40px;
  width: 311px;
  height: 106px;
  justify-content: center;
  flex-direction: column;
}
.picture5 {
  position: absolute;
  left: 201px;
  top: 138px;
  width: 300px;
  height: 300px;
  background-image:/* webpackIgnore: true */ url('assets/picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.picture6 {
  position: absolute;
  left: 201px;
  top: 368px;
  width: 300px;
  height: 300px;
  background-image:/* webpackIgnore: true */ url('assets/picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.december222023 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 355px;
  top: 440px;
  width: 331px;
  height: 38px;
  justify-content: center;
  flex-direction: column;
}
.echoesOfTheSilkRoad {
  color: #000;
  font-size: 48px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 352px;
  top: 388px;
  width: 732px;
  height: 44px;
  justify-content: center;
  flex-direction: column;
}
.picture7 {
  position: absolute;
  left: 52px;
  top: 331px;
  width: 300px;
  height: 300px;
  background-image:/* webpackIgnore: true */ url('assets/picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.picture8 {
  position: absolute;
  left: 52px;
  top: 10px;
  width: 300px;
  height: 300px;
  background-image:/* webpackIgnore: true */ url('assets/picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.theLighthouseKeeperSLegacy {
  color: #000;
  font-size: 48px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 352px;
  top: 85px;
  width: 732px;
  height: 44px;
  justify-content: center;
  flex-direction: column;
}
.july122024 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 355px;
  top: 149px;
  width: 331px;
  height: 38px;
  justify-content: center;
  flex-direction: column;
}
.thisStoryUnveilsTheLegacyOfCou {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 352px;
  top: 196px;
  width: 689px;
  height: 77px;
  justify-content: center;
  flex-direction: column;
}
.tracingTheirLineageBackToAMerc {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 352px;
  top: 501px;
  width: 689px;
  height: 124px;
  justify-content: center;
  flex-direction: column;
}

.fAQ3 {
  color: #000;
  font-size: 64px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 25px;
  top: -30px;
  width: 756px;
  height: 208px;
  justify-content: center;
  flex-direction: column;
}
.general {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 25px;
  top: 120px;
  width: 756px;
  height: 72px;
  justify-content: center;
  flex-direction: column;
}
.contentSharing {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 25px;
  top: 320px;
  width: 756px;
  height: 72px;
  justify-content: center;
  flex-direction: column;
}
.whatIsHeritageHubHowDoICreateA {
  position: absolute;
  left: 80px;
  top: 180px;
  width: 992px;
  height: 136px;
  justify-content: center;
  flex-direction: column;
}
.list {
  font-size: 36px;
}
.list ::marker {
  color: #48742c;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  color: #48742c;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #48742c;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.howCanIShareMyFamilyHistoryOnH {
  position: absolute;
  left: 80px;
  top: 380px;
  width: 1015px;
  height: 208px;
  justify-content: center;
  flex-direction: column;
}
.list2 {
  font-size: 36px;
}
.list2 ::marker {
  color: #48742c;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  color: #48742c;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #48742c;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #48742c;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.heritage:hover {
  color: #48742c;
  font-size: 40px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 125px;
  top: 32px;
  width: 148px;
  height: 39px;
  justify-content: center;
  flex-direction: column;
}
.signIn:hover {
  color: #48742c;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1150px;
  top: 32px;
  width: 141px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
}
.help:hover {
  color: #48742c;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1300px;
  top: 32px;
  width: 141px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
}
.communityForm:hover {
  color: #48742c;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 452px;
  top: 124px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.cultures:hover {
  color: #48742c;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 719px;
  top: 123px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.stories:hover {
  color: #48742c;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 870px;
  top: 123px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fAQ:hover {
  color: #48742c;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1001px;
  top: 123px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.feedback:hover {
  color: #48742c;
  font-size: 24px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 156px;
  top: 925px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.craigPotter2Name {
  position: absolute;
  width: 173px;
  height: 46px;
  transform: translate(-50px, -175px);
}

.craigUser2 {
  position: absolute;
  width: 90px;
  height: 90px;
  transform: translate(-150px, -175px);
  background-image:/* webpackIgnore: true */ url('assets/maleUser.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.PotterMore12copy {
  color: #999898;
  font-size: 24px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  width: 206px;
  height: 46px;
  justify-content: center;
  flex-direction: column;
  transform: translate(115px, -177px);
}

.fullStop3 {
  position: absolute;
  width: 27px;
  height: 30px;
  background-image:/* webpackIgnore: true */ url('assets/fullStop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(290px, -175px);
}
._6copy {
  color: #999898;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  width: 40px;
  height: 46px;
  justify-content: center;
  flex-direction: column;
  transform: translate(330px, -177px);
}
.communityPost3 {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  width: 1010px;
  height: 102px;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50px, -100px);
}
.line6 {
  position: absolute;
  width: 859px;
  border-bottom: solid 1px #000;
}
.textArea {
  position: absolute;
  width: 800px;
  height: 400px;
  overflow: visible;
  background-color: #48742c;
  transform: translate(225px, 280px);
  opacity: 50%;
  padding: 15px;
  border-radius: 15px;
}

.discussionButtons {
  transform: translate(350px, 770px);
  scale: 50%;
}
.discussionSubmit {
  position: absolute;
  width: 300px;
  height: 100px;
  overflow: visible;
  background-color: #51810c;
  transform: translate(1350px, 100px);
  padding: 15px;
  border-radius: 15px;
  font-size: 50px;
  justify-content: center;
  color: white;
}