:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

.heritage {
  color: #000;
  font-size: 40px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 125px;
  top: 32px;
  width: 148px;
  height: 39px;
  justify-content: center;
  flex-direction: column;
}
.about {
  color: #000;
  font-size: 28px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

/* Handles the navigation bar at the top of the page - includes logo, Heritage, Learn, About, Search, Sign in, and Help. */
.topNav {
  height: 100px;
  display: flex;
  position: fixed;
  background-color: white;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0px 23px 0px -22px black;
}

.rightNav {
  display: flex;
  margin-left: auto;
}

.navItem {
  padding: 10px;
}

.subNav {
  left: 0;
  top: 100px;
  position: fixed;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 23px 0px -22px black;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  justify-content: left;
  padding-left: 10px;
  border-top: 1px solid black;
}

.chichenItza {
  max-width: 20%;
  background-image:/* webpackIgnore: true */ url('assets/chichenItza.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px;
  margin-left: 50px;
}

.heritage {
  font-size: 40px;
  padding: 23px 15px 25px 15px;
}

.xboxR {
  background-image:/* webpackIgnore: true */ url('assets/xboxR.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: flex;
  width: 15px;
  -ms-transform: translateY(-35%);
  transform: translateY(-35%);
}

.learn {
  color: #000;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 321px;
  top: 36px;
  width: 78px;
  height: 30px;
  justify-content: center;
  flex-direction: column;
}
.signIn {
  color: #000;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1150px;
  top: 32px;
  width: 141px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
}
.help {
  color: #000;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1323px;
  top: 32px;
  width: 141px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
}
.expandArrow2 {
  position: flex;
  background-image:/* webpackIgnore: true */ url('assets/expandArrow2.png');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 10px;
  padding: 10px;
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
}

.search {
  background-image:/* webpackIgnore: true */ url('assets/search.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15px;
}

.signIn {
  font-weight: bold;
  justify-content: center;
  flex-direction: column;
  padding: 0px 25px;
}

.help {
  font-weight: bold;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
  padding: 0px 15px;
}

.communityForm {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.cultures {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.stories {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.fAQ {
  position: absolute;
  left: 1001px;
  top: 123px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.bigChichenItza {
  position: absolute;
  left: 1371px;
  top: 840px;
  width: 121px;
  height: 121px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.instagramCircle {
  position: absolute;
  left: 39px;
  top: 922px;
  width: 37px;
  height: 37px;
  background-image:/* webpackIgnore: true */ url('assets/instagramCircle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.chichenItza {
  position: absolute;
  left: 39px;
  top: 25px;
  width: 64px;
  height: 59px;
  background-image:/* webpackIgnore: true */ url('assets/chichenItza.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.chichenItza2 {
  position: absolute;
  left: 568px;
  top: 314px;
  width: 436px;
  height: 394px;
  background-image:/* webpackIgnore: true */ url('assets/chichenItza2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.historyRemix {
  font-size: 14px;
  position: absolute;
  left: 15%;
  top: 25%;
  width: 96px;
  justify-content: center;
  flex-direction: column;
}

.instagramCircle {
  background-image:/* webpackIgnore: true */ url('assets/instagramCircle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  margin: 0px 5px;
}

.linkedIn {
  background-image:/* webpackIgnore: true */ url('assets/linkedIn.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  margin: 0px 5px;
}

.feedback {
  font-size: 24px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  padding: 2px 5px;
  transform: translateY(-5px);
  padding-top: 10px;
}

.group1 {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 100%;
  width: 80px;
  height: 80px;
  overflow: visible;
  z-index: 2;
}

.chat {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  background-image:/* webpackIgnore: true */ url('assets/chat.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}
.infoBox {
  border: 1px solid #ccc; /* Example border */
  padding: 20px; /* Example padding */
  margin-top: 10px; /* Example margin */
  background-color: #f9f9f9; /* Example background color */
}

.collapsible .content {
  padding: 6px;
  background-color: rgb(240, 240, 240);
  font-size: 14px;
}

.collapsible .header {
  background-color: rgb(200, 200, 200);
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(220, 220, 220);
}

.collapsible .header .title {
  font-weight: 400;
}

.preferences label {
  display: block;
  padding-bottom: 4px;
}
.rectangle1 {
  position: absolute;
  left: 313px;
  top: 101px;
  width: 443px;
  height: 338px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #dad5d2;
}
.howItWorksResourcesHeritageWik {
  position: absolute;
  left: 313px;
  top: 101px;
  width: 392px;
  height: 299px;
  justify-content: center;
  flex-direction: column;
  outline: solid 1px #000;
  background-color: #dad5d2;

}
.textBlock {
  color: #1f1b1b;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 60px;
  margin-bottom: 34px;
  color: #1f1b1b;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 32px;
  color: #1f1b1b;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.aboutBox {
  position: absolute;
  left: 471px;
  top: 101px;
  width: 392px;
  height: 259px;
  justify-content: center;
  flex-direction: column;
  outline: solid 1px #000;
  background-color: #dad5d2;

}

.textBlockHistory {
  color: #1f1b1b;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlockPrivacy {
  margin-top: 60px;
  margin-bottom: 34px;
  color: #1f1b1b;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.loginContainer {
  /* Styles that apply to the login container */
  width: 359px;
  height: 290px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 5px;
  background-color: #fff;
}

.signUpContainer {
  position: absolute;
  left: 341px;
  top: 122px;
  width: 770px;
  height: 701px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #e8e8e8;
  filter: blur(2px);
}


.loginInput {
  /* Styles for the input fields */
}

.loginButton {
  /* Styles for the login button */
  width: 302px;
  height: 39px;
  outline: solid 1px #0aa8c2;
  outline-offset: -1px;
  border-radius: 5px;
  background-color: #0aa8c2;
  box-shadow: 0px 4px 4px 0px #00000040;
}


.errorMessage {
  color: red;
  /* Other styles for the error message */
}

.userNameContainer {
  /* Styles for the username container */
  position: absolute;
  color:#000;
  left: 455px;
  top: 276.5px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.passwordContainer {
  /* Styles for the password container */
  position: absolute;
  left: 455px;
  top: 711px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}

.emailContainer {
  /* Styles for the email container */
  width: 302px;
  height: 42px;
  outline: solid 1px #100c0c;
  outline-offset: -1px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.passwordview {
  /* Styles for the password view */
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background-image:/* webpackIgnore: true */ url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-eye-512.png');
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.loginerrorContainer {
  /* Styles for the login error container */
width: 302px;
height: 42px;
outline: solid 1px #f2b1b8;
outline-offset: -1px;
border-radius: 5px;
background-color: #fadde0;
box-shadow: 0px 4px 4px 0px #00000040;
}

.loginText { 
  /* Styles for the login text */
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  /* use for the sign up text as well */
}
.username {
  color: #999898;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 455px;
  top: 276.5px;
  width: 558.5px;
  height: 78px;
  justify-content: center;
  flex-direction: column;
}
.signInGoogle {
  color: #999898;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 250px;
  top: 610px;
  width: 353px;
  height: 40px;
  justify-content: center;
  flex-direction: column;
}
.google {
  position: absolute;
  left: 150px;
  top: 590px;
  width: 78px;
  height: 78px;
  background-image: url('../../../public/assets/google.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.rectangle5 {
  background-color: #ffffff;
  position: absolute;
  left: 100px;
  top: 590px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.resetPassword {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 260px;
  top: 450px;
  width: 240px;
  height: 36px;
  justify-content: center;
  flex-direction: column;
}
.passwordbox {
  background-color: #ffffff;
  position: absolute;
  left: 100px;
  top: 200px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
} .username {
  position: absolute;
  left: 120px;
  top: 100px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
} 
.password {
  color: #999898;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 120px;
  top: 200px;
  width: 558.5px;
  height: 78px;
  justify-content: center;
  flex-direction: column;
}
.signInBox {
  position: absolute;
  left: 499px;
  top: 501px;
  width: 469px;
  height: 73px;
  overflow: visible;
} .signINusingGoogle {
  position: absolute;
  left: 455px;
  top: 711px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
} 
.signInText {
  color: #000;
  font-size: 64px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 405px;
  top: 176px;
  width: 228px;
  height: 39px;
  justify-content: center;
  flex-direction: column;
}

.signIn3 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 715px;
  top: 580px;
  width: 131px;
  height: 46px;
  justify-content: center;
  flex-direction: column;
}
.rectangle2 {
  position: absolute;
  left: 341px;
  top: 122px;
  width: 770px;
  height: 701px;
  justify-content: center;
  flex-direction: column;
  outline-offset: -1px;
  background-color: #e8e8e8;
  filter: drop-shadow(0px 4px 4px #00000040);


  /*
    position: absolute;
  left: 471px;
  top: 101px;
  width: 392px;
  height: 259px;
  justify-content: center;
  flex-direction: column;
  outline: solid 1px #000;
  background-color: #dad5d2;
  */
}
.rectangle3 {
  background-color: #ffffff;
  position: absolute;
  left: 100px;
  top: 100px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.rectangle4 {
  position: absolute;
  left: 455px;
  top: 389px;
  width: 558.5px;
  height: 78px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.line4 {
  position: absolute;
  left: 150px;
  top: 550px;
  width: 559px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
}
.signIn2 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 150x;
  top: 360px;
  width: 131px;
  height: 46px;
  justify-content: center;
  flex-direction: column;
}
.centerContent {
  /* Center horizontally and vertically */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: center;
}
.rectangle6 {
  background-color: #1b5021;
  position: absolute;
  left: 150px;
  top: 350px;
  width: 469px;
  height: 73px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}