.root {
  background-color: #fff;
  overflow: hidden;
  font-family: "Gowun Batang", serif;
  font-size: 28px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

/* Handles the navigation bar at the top of the page - includes logo, Heritage, Learn, About, Search, Sign in, and Help. */
.topNav {
  height: 100px;
  display: flex;
  position: fixed;
  background-color: white;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0px 23px 0px -22px black;
}

.rightNav {
  display: flex;
  margin-left: auto;
}

.navItem {
  padding: 10px;
}

.subNav {
  left: 0;
  top: 100px;
  position: fixed;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 23px 0px -22px black;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  justify-content: left;
  padding-left: 10px;
  border-top: 1px solid black;
}

.chichenItza {
  max-width: 20%;
  background-image:/* webpackIgnore: true */ url('assets/chichenItza.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px;
  margin-left: 50px;
}

.heritage {
  font-size: 40px;
  padding: 23px 15px 25px 15px;
}

.xboxR {
  background-image:/* webpackIgnore: true */ url('assets/xboxR.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: flex;
  width: 15px;
  -ms-transform: translateY(-35%);
  transform: translateY(-35%);
}

.learn {
  font-weight: bold;
  padding: 35px 25px;
}

.expandArrow {
  position: flex;
  background-image:/* webpackIgnore: true */ url('assets/expandArrow.png');
  background-position: center;
  margin: 0px 10px;
  padding: 10px;
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
}

.about {
  font-weight: bold;
  padding: 35px 25px;
}

.expandArrow2 {
  position: flex;
  background-image:/* webpackIgnore: true */ url('assets/expandArrow2.png');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 10px;
  padding: 10px;
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
}

.search {
  background-image:/* webpackIgnore: true */ url('assets/search.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15px;
}

.signIn {
  font-weight: bold;
  justify-content: center;
  flex-direction: column;
  padding: 0px 25px;
}

.help {
  font-weight: bold;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
  padding: 0px 15px;
}

.communityForm {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.cultures {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.stories {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.fAQ {
  position: absolute;
  left: 1001px;
  top: 123px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.bigChichenItza {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  background-image:/* webpackIgnore: true */ url('assets/chichenItza2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.historyRemix {
  font-size: 14px;
  position: absolute;
  left: 15%;
  top: 25%;
  width: 96px;
  justify-content: center;
  flex-direction: column;
}

.instagramCircle {
  background-image:/* webpackIgnore: true */ url('assets/instagramCircle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  margin: 0px 5px;
}

.linkedIn {
  background-image:/* webpackIgnore: true */ url('assets/linkedIn.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  margin: 0px 5px;
}

.feedback {
  font-size: 24px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  padding: 2px 5px;
  transform: translateY(-5px);
  padding-top: 10px;
}

.group1 {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 100%;
  width: 80px;
  height: 80px;
  overflow: visible;
  z-index: 2;
}

.chat {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  background-image:/* webpackIgnore: true */ url('assets/chat.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}
