.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.heritage {
  color: #000;
  font-size: 40px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 125px;
  top: 32px;
  width: 148px;
  height: 39px;
  justify-content: center;
  flex-direction: column;
}
.about {
  color: #000;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 473px;
  top: 36px;
  width: 92px;
  height: 30px;
  justify-content: center;
  flex-direction: column;
}
.frame1 {
  position: absolute;
  left: 1019px;
  top: 12px;
  width: 100px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.frame2 {
  position: absolute;
  left: -6px;
  top: -17px;
  width: 100px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.search {
  position: absolute;
  left: 22px;
  top: 32px;
  width: 56px;
  height: 37px;
  background-image:/* webpackIgnore: true */ url('assets/search.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.line1 {
  position: absolute;
  left: 39px;
  top: 100px;
  width: 1435.0013px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
}
.line2 {
  position: absolute;
  left: 39px;
  top: 186px;
  width: 1435.0013px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
}
.line3 {
  position: absolute;
  left: 39px;
  top: 900px;
  width: 1435.0013px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
}
.expandArrow {
  position: absolute;
  left: 551px;
  top: 41px;
  width: 28px;
  height: 19px;
  background-image:/* webpackIgnore: true */ url('assets/expandArrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.learn {
  color: #000;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 321px;
  top: 36px;
  width: 78px;
  height: 30px;
  justify-content: center;
  flex-direction: column;
}
.signIn {
  color: #000;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1150px;
  top: 32px;
  width: 141px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
}
.help {
  color: #000;
  font-size: 28px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1323px;
  top: 32px;
  width: 141px;
  height: 28px;
  justify-content: center;
  flex-direction: column;
}
.expandArrow2 {
  position: absolute;
  left: 399px;
  top: 42px;
  width: 26px;
  height: 19px;
  background-image:/* webpackIgnore: true */ url('assets/expandArrow2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.stories {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 870px;
  top: 123px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.cultures {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 719px;
  top: 123px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.communityForm {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 452px;
  top: 124px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.feedback {
  color: #000;
  font-size: 24px;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 156px;
  top: 925px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fAQ {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  font-family: Gowun Batang, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1001px;
  top: 123px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group1 {
  position: absolute;
  left: 1371px;
  top: 840px;
  width: 121px;
  height: 121px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.instagramCircle {
  position: absolute;
  left: 39px;
  top: 922px;
  width: 37px;
  height: 37px;
  background-image:/* webpackIgnore: true */ url('assets/instagramCircle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.chichenItza {
  position: absolute;
  left: 39px;
  top: 25px;
  width: 64px;
  height: 59px;
  background-image:/* webpackIgnore: true */ url('assets/chichenItza.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.chichenItza2 {
  position: absolute;
  left: 568px;
  top: 314px;
  width: 436px;
  height: 394px;
  background-image:/* webpackIgnore: true */ url('assets/chichenItza2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.historyRemix {
  color: #000;
  font-size: 14px;
  font-family: Indie Flower, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 235px;
  top: 222px;
  width: 96px;
  height: 17px;
  justify-content: center;
  flex-direction: column;
}
.xboxR {
  opacity: 0.8;
  position: absolute;
  left: 267px;
  top: 41px;
  width: 12px;
  height: 10px;
  background-image:/* webpackIgnore: true */ url('assets/xboxR.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.chat {
  position: absolute;
  left: 1398px;
  top: 856px;
  width: 66px;
  height: 90px;
  background-image:/* webpackIgnore: true */ url('assets/chat.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.linkedIn {
  position: absolute;
  left: 95px;
  top: 919px;
  width: 42px;
  height: 42px;
  background-image:/* webpackIgnore: true */ url('assets/linkedIn.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
